[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
mock = "*"
black = "*"

[packages]
psycopg2 = "*"
djangorestframework = "*"
django = "*"
black = "*"

[requires]
python_version = "3.7"
